@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply w-1.5
}

::-webkit-scrollbar-track {
  @apply bg-primary
}

::-webkit-scrollbar-thumb {
  @apply rounded-2xl bg-gray-400;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-200;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}