.container {
  @apply grid grid-cols-news w-4/5 mx-auto justify-center items-center gap-12 px-4 pb-4 mt-4;
}

.card {
  @apply relative bg-zinc-800 max-w-sm h-[450px] border-y-4 border-secondary border-x-4 border-x-zinc-800 animate-pulse
  after:h-6 after:w-6 after:bg-primary after:absolute after:-top-[13px] after:-right-[13px] after:border-b-4 after:border-secondary after:rotate-45
  before:h-6 before:w-6 before:bg-primary before:absolute before:-top-[13px] before:-left-[13px] before:border-b-4 before:border-secondary before:-rotate-45
  transition-all
}

.cardFooter {
  @apply mt-auto after:h-6 after:w-6 after:bg-primary after:absolute after:-bottom-[13px] after:-right-[13px] after:border-b-4 after:border-secondary 
  after:rotate-[135deg] before:h-6 before:w-6 before:bg-primary before:absolute before:-bottom-[13px] before:-left-[13px] before:border-b-4 before:border-secondary 
  before:-rotate-[135deg]
}

.button {
  @apply px-4 py-2 mt-12 mb-12 rounded bg-secondary transition-all animate-pulse h-11 w-36 mx-auto;
}